
@using TryAgain.Models
@model  IEnumerable<Comment>
@{
    ViewBag.Title = "Search comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Search comments</h4>

@if (!Model.Count().Equals(0))
{
    foreach (var item in Model)
    {
        <section>
            <article class="blogPost">
                <header>
                    <h5> @Html.ActionLink(@Html.DisplayFor(modelitem => item.Title).ToString(), "Index", "Blog", new { id = item.PostID }, new { id = item.PostID })</h5>
                    <p>
                        <b> Comment on: </b> <time datetime=@Html.DisplayFor(modelitem => item.CommentDate)>@Html.DisplayFor(modelitem => item.CommentDate)</time>
                        <b> by: </b>  @Html.DisplayFor(modelitem => item.commentUser.UserName) <b> website: </b> @Html.DisplayFor(modelitem => item.commentUser.SiteAddr)
                        <br />
                        <b> Rating : </b> @Html.DisplayFor(modelitem => item.givenRate)
                        <b>  on </b>@Html.ActionLink("this", "Index", "Blog", new { id = item.PostID }) <b>post</b>
                    </p>
                </header>
            </article>

            @if (ViewModelBase.logedonUser != null)
            {
                <div class="button-row">
                                     <!--Checking permissions-->
                    @if ((ViewModelBase.logedonUser.Email.Equals(item.commentUser.Email) && ViewModelBase.logedonUser.UserName.Equals(item.commentUser.UserName)) || ViewModelBase.logedonUser.FanAuthority.Equals(TryAgain.Models.User.Authority.Admin))
                    {
                        <div class="button-row">
                            <button class="mdl-button mdl-js-button mdc-button--dense mdl-js-ripple-effect " onclick="location.href='@Url.Action("Details", "Blog", new { id = item.CommentID })'">View comment </button>

                        </div>  
                    }

                </div>
            }
        </section>
    }
    <div class="button-row">
        <button class="mdl-button mdl-js-button mdc-button--dense mdl-js-ripple-effect " onclick="location.href='@Url.Action("Index", "Blog", new { id = Model.First().PostID })'">Go to post</button>
    </div>

}
