@using TryAgain.Models
@model TryAgain.Models.Post

@{
    ViewBag.Title = "Blog";
}

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=1713352012069163';
        fjs.parentNode.insertBefore(js, fjs);
    }
        (document, 'script', 'facebook-jssdk'));
</script>



<section>
    <article class="blogPost">
        <header>
            <h3>@Html.DisplayFor(model => model.Title)</h3>
            <p>
                <b> Posted on: </b> <time datetime=@Html.DisplayFor(model => model.PostDate)>@Html.DisplayFor(model => model.PostDate)</time>
                <b> by: </b> @Html.DisplayFor(model => model.postUser.UserName) <b> website: </b> @Html.DisplayFor(model => model.postUser.SiteAddr)
                <br />
                <b> Rating : </b> @Html.DisplayFor(modelitem => modelitem.postRate)
                <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>

            </p>
        </header>
        <div class="post_body">
            <p>@Html.DisplayFor(model => model.PostText)</p>

        </div>
    </article>

    <!--The comment of the post under the post section-->
    @if (Model.Comments != null && Model.Comments.Count >0)
    {
        <h5>Comments</h5>

        foreach (var comm in Model.Comments)
        {
                    <article class="blogComment">
                        <header>  
                            <a href=@Url.Action("Details", "Blog", new { id = comm.CommentID })>@Html.DisplayFor(modelitem => comm.Title)</a>
                            <p>
                                <b> commented on: </b> <time datetime=@Html.DisplayFor(modelitem => comm.CommentDate)>@Html.DisplayFor(modelitem => comm.CommentDate)</time>
                                <b> by: </b> @Html.DisplayFor(modelitem => comm.commentUser.UserName) <b> on site: </b>  @Html.DisplayFor(modelitem => comm.commentUser.SiteAddr)
                                <br />
                                <b> Rating : </b> @Html.DisplayFor(modelitem => comm.givenRate)
                            </p>
                        </header>
                        <div class="post_body">
                            <p>@Html.DisplayFor(modelitem => comm.Text)</p>
                        </div>
                    </article>

                   if (ViewModelBase.logedonUser != null)
                    {
                        if (ViewModelBase.logedonUser != null && ViewModelBase.logedonUser.Email.Equals(comm.commentUser.Email) && ViewModelBase.logedonUser.UserName.Equals(comm.commentUser.UserName))
                        {
                             <button class="mdl-button mdl-js-button mdc-button--dense mdl-js-ripple-effect " onclick="location.href='@Url.Action("Delete", "Blog", new { id = comm.CommentID })'">Delete comment</button>

                        }
                    }
        }
    }
</section>
@if (ViewModelBase.logedonUser!=null) {
<button class="mdl-button mdl-js-button mdc-button--dense mdl-js-ripple-effect " onclick="location.href='@Url.Action("Create", "Blog", new { id = Model.PostID })'">Add a new comment</button>
}
<button class="mdl-button mdl-js-button mdc-button--dense mdl-js-ripple-effect " onclick="location.href='@Url.Action("Index", "Managment", "Go to posts list")'">Go to posts list</button>

<div id="fb-root"></div>


<div id="fb-root"></div>


