

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shauli Blog</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/Search.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Chart.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    
</head>
<body>

    <header class="navbar-collapse transform">
        <div class="hover">
            <h2 class="mainTitle">Ha-Blog Shel Shauli</h2>
            </div>
        @Html.Partial("_LoginPartial")
</header>

    <div class="container">
        <div class="navbar-collapse collapse">

            <nav>
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("Managment", "Index", "Managment")</li>
                    <li>@Html.ActionLink("Fans Club", "Index", "FansClub")</li>
                    <li>@Html.ActionLink("Personal Blog", "Index", "Blog")</li>
                    <li>@Html.ActionLink("Statistics", "Statistics", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </nav>

        </div>
    </div>

    <!-- Introduction -->
    <section id="intro">

        <header>
            <h3>Have fun in shauli's Fan Club</h3>
            <h6>he best Fans' blog of shauli fans in the world!!!</h6>
        </header>

    </section>


    <!--The body content-->
    <div class="body-content">

        <!--The main render content-->
        <div id="mainContent">
            @RenderBody()

        </div>
        <!--the side options-->
        <aside class="side_bar">

                <h4>   search   </h4>
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#scroll-tab-1" class="mdl-tabs__tab is-active">Post</a>
                        <a href="#scroll-tab-2" class="mdl-tabs__tab">Comment</a>
                    </div>

                    <div class="mdl-tabs__panel is-active" id="scroll-tab-1">
                        <section>
                               
                            @Html.Partial("_PartialSearchPost",new TryAgain.Models.searchPost())

                        </section>
                    </div>
                    <div class="mdl-tabs__panel" id="scroll-tab-2">
                        <section>
                            @Html.Partial("_PartialSearchComment", new TryAgain.Models.searchComment())
                        </section>
                    </div>

                </div>
        </aside>

        <!-- Page footer -->
        <footer>
          
                <p>saul AND irena</p>
                <video width="400" height="400" controls>
                    <source src="..\images\saulANDirena.mp4" type="video/mp4">
                </video>
         
</footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>